<header>
	<script type="text/javascript" src="is_num.js"></script>
</header>

<h1>Open console</h1>


<script type="text/javascript">
		
		console.log("isnn.isAnyNum(123.123)");
		console.log(isnn.isAnyNum(123.123));
		console.log('=============================================');

		console.log("isnn.isAnyNum('123.123')");
		console.log(isnn.isAnyNum('123.123'));
		console.log('=============================================');

		console.log("isnn.isAnyNum('asd123.123')");
		console.log(isnn.isAnyNum('asd123.123'));
		console.log('=============================================');

		console.log("isnn.isAnyNum(Math.sqrt(-1))");
		console.log(isnn.isAnyNum(Math.sqrt(-1)));
		console.log('=============================================');


		console.log("isnn.isAnyNum(1/0)");
		console.log(isnn.isAnyNum(1/0));
		console.log('=============================================');

		console.log("isnn.isReal(1/0)");
		console.log(isnn.isReal(1/0));
		console.log('=============================================');
		
		console.log("isnn.isReal(123.3)");
		console.log(isnn.isReal(123.3));
		console.log('=============================================');


		console.log("isnn.isReal('123.3')");
		console.log(isnn.isReal('123.3'));
		console.log('=============================================');

		console.log("isnn.isInt('123.3')");
		console.log(isnn.isInt('123.3'));
		console.log('=============================================');

		console.log("isnn.isInt('123')");
		console.log(isnn.isInt('123'));
		console.log('=============================================');


		console.log("isnn.isInt(123)");
		console.log(isnn.isInt(123));
		console.log('=============================================');


		console.log("isnn.isRealOnly('12.3')");
		console.log(isnn.isRealOnly('12.3'));
		console.log('=============================================');


		console.log("isnn.isRealOnly('123')");
		console.log(isnn.isRealOnly('123'));
		console.log('=============================================');



</script>